/* ========================================================================
//   #LINKS
//   ======================================================================== */

a {
  text-align: none;
  color: $color-link;

  &:hover {
    color: $color-link--hover;
  }
}